*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f6d7ff;
}

#container{
    display: flex;
    justify-content: center;
    background-color: #c777e0;
    padding: 1rem;
}

h1{
    color: #2f093b;
}

#logo{
    width: 5%;
}

nav{
    display: flex;
    justify-content: center;
    gap: 8%;
    background-color: #2f093b;
    padding: 0.5rem;
}

aside{
    width: 30%;
}

#content{
    display: flex;
    padding-right: 1rem;
}

#model{
    display: flex;
    justify-content: center;
    width: 100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #2f093b;
    color: #c777e0;
    padding: 0.5rem;
    justify-items: center;
}